body {
	background: black; 
}
div {
	display: inline-block;
	margin: auto;
	margin-top: 50px;
	width: 500px;
	height: 500px;
	border: 4px solid darkred;
	background: grey;
	overflow: hidden;
}
.resultado img{
	width: 500px;
	position: relative;
	top: 500px;
	left: 500px;
	outline: 2px solid blue;
	transition: all 1.5s;
}
.icono img{
	display: block;
	margin: 80px auto;
}
.resultado .animacion {
	position: relative;
	top: 0px;
	left: 0px;
	outline: 2px solid blue;
}
